.purchase{
    margin-top: 90px;
background-color: var(--bg-white);
margin: 80px 1em 0;
/* display: flex; */
}

/*-------------------------------*/

.purchase_container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 0.8rem;
    max-width: 900px;
}

.purchase_img{
    object-fit: contain;
    height: 60px;
}