.header_nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  display: flex;
  background: var(--bg-white);
  justify-content: space-between;
}

.style {
  text-decoration: none;
  color: var(--text-gray);
}

.header_logo {
  padding: 14px;
  font-size: 1.5em;
}

.logo {
  color: var(--primary);
}

.header_icons {
  display: flex;
}

.header_icons li {
  font-size: 1.8em;
  padding: 14px;
}

.cartIcon_contain {
  position: relative;
}

.cartIcon_contain .bxs-cart{
  cursor: pointer;
}

.cart_amount {
  position: absolute;
  right: 7px;
  top: 5px;
  font-size: 14px;
  background-color: var(--primary);
  color: var(--bg-white);
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  width: 20px;
  height: 20px;
}